<div class="uk-text-center uk-padding kepala">
    <h1>We are hiring</h1>
    <p>"It doesn't make sense to hire smart people and then tell them what to do;</p>
    <p>we hire smart people so they can tell us what to do." <i>Steve Jobs</i></p>
</div>

<div class="uk-child-width-expand@s atas" uk-grid>
    <div class="uk-grid-item-match">
        <img src="assets/undraw_pair_programming_njlp.svg" alt="">
    </div>
    <div class="uk-grid-item-match">
        <h4 class="uk-padding"><span class="iconify" data-icon="ic:baseline-bubble-chart" data-inline="false"></span>
            CREATIVE PEOPLES</h4>
        <h3 class="uk-padding">High Definistion audience: Better Data, better audience, better results.</h3>
        <p class="uk-padding">
            We are a fast-paced, risk-taking, close-knit environment where ideas come from everywhere at every level.
        </p>
    </div>
</div>

<div class="uk-padding bawah">
    <p>We believe that diversity of background, talent, skillset and mindset creates a flourishing environment for new
        thinking and ideas.</p>
    <p>We are growing and always looking for new talent.</p>
    <p>If you are driven by challenging work, passionate about media and technology and interested in helping to shape
        the future of our industry, we would like to hear from you!</p>
    <p>For people who know Agile and eager to learn and implement, you are at the right place. You are welcome</p>
    <p>Your resume will be reviewed by our recruitment team, and we will make sure to get in touch with you if your
        background meets our current needs.</p>
    <p>Please send your resume to <i>hello@inforsys.co.id</i></p>
</div>