<div class="uk-child-width-expand@s awal" uk-grid>
    <div class="uk-grid-item-match">
        <h4 class="uk-padding"><span class="iconify" data-icon="ic:baseline-bubble-chart" data-inline="false"></span>
            KENAPA KAMI ADA?</h4>
        <!-- <div class="uk-card uk-card-default uk-card-body"> -->
        <h3 class="uk-padding">We are agile, menekankan kelincahan dalam mengambil keputusan. </h3>
        <p class="uk-padding">
            Membantu perusahaan mengelola sistem informasi yang bisa diakses secara global oleh management,
            karyawan, pelanggan dan pemasok, kapanpun, dimanapun, dengan mudah dari berbagai platform.
        </p>
        <!-- </div> -->
    </div>
    <div class="uk-grid-item-match">
        <img src="assets/undraw_team_ih79.svg" alt="">
    </div>
</div>
<div class="tengah">
    <p class="uk-padding">
        Ketika sebuah usaha telah tumbuh dari yang tadinya hanya dikelola oleh satu atau dua orang-owner, menjadi
        dikelola oleh banyak orang.
        Melibatkan banyak pemasok, dan tentu saja banyak pelanggan. Usaha menjadi tidak mudah untuk dikendalikan.
        Informasi akan kejadian-kejadian yang mempengaruhi perusahan berseliweran kesana kemari menjadi sebuah
        kerumitan. Hal ini jika tidak dikelola dengan baik, akan membuat sumbatan-sumbatan, yang berakibat pada
        menurunnya kinerja perusahaan.
    </p>
    <p class="uk-padding">
        Kini, ketika arus informasi membesar. Ketika informasi tidak lagi dicari bahkan diberikan didorong, dijejalkan.
        Maka, persaingan menjadi begitu berat. Siapa yang berhasil mengelola informasi dengan baik, menyajikankan dalam
        bentuk yang berguna, dia yang akan menjadi pemenang. Dan semua itu terjadi sangat cepat.
    </p>
    <p class="uk-padding">
        Atas dasar itulah, kami membangun solusi, yang menurut kami adalah core dari perusahaan, yaitu: <i> accounting,
            payroll </i> dan <i> Human Resources</i>. Kami ingin management, karyawan, pemasok bahkan pelanggan bisa <i>
            berbagi informasi </i> yang berguna, sesuai kebutuhan masing-masing pihak.
    </p>
</div>

<div class="konten uk-padding">
    <div class="uk-text-left kepala">
        <h1>Prinsip kami dalam membangun perusahaan</h1>
        <p>
            Kami percaya sepenuhnya apa yang diinginkan pelanggan adalah yang benar, sebab meraka menghadapi problem itu
            dari hari-ke hari. Jika mereka sudah menemukan solusi, buat kami itu adalah solusi yang terbaik, solusi yang
            teruji. Tugas kami adalah <i> mendigitalkan solusi </i> itu, membuatnya jadi <i> otomatis dan
                terintegrasi</i>, sehingga
            menjadi bagian seutuhnya dari sistem. Sehingga membuat informasi berjalan lebih cepat, terukur dan akurat.
            Selain itu kami juga menawarkar solusi-solusi yang mungkin bisa mengurangi bahkan menghilangkan rasa sakit.
        </p>
        <h3>Applikasi dibangun fokus pada kebutuhan pelanggan. Customer Development.</h3>
    </div>

    <div class="uk-child-width-expand@s uk-text-center" uk-grid="parallax: 145">
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="mdi:bomb-off" data-inline="false"></span></div>
                <h2>Tidak Gila Fitur</h2>
                <p>Lebih baik punya sedikit fitur yang berguna bagi pelanggan daripada banyak fitur tidak berguna
                    [<i>gila fitur</i>].</p>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="mdi:weather-sunny" data-inline="false"></span></div>
                <h2>Informasi Adanya Di Luar</h2>
                <p>Informasi adanya di luar bukan di atas meja kami [tidak berasumsi bahwa kita tahu apa yang dinginan
                    pelanggan].</p>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="mdi:recycle" data-inline="false"></span></div>
                <h2>Siklus Development</h2>
                <p>Menekankan pada proses hipotesis, pengujian, pembelajaran, pengulangan bukan eksekusi.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="mdi:image-filter-center-focus-weak"
                        data-inline="false"></span></div>
                <h2>Fokus Pada Segment Tertentu</h2>
                <p>Kami hanya focus pada segmen dimana kami ahli dalam yang bersumber dari pengalaman kami lebih dari 22
                    tahun di bisnis software.</p>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="ic:baseline-high-quality"
                        data-inline="false"></span></div>
                <h2>Yakin Pada Produk Berkualitas</h2>
                <p>Kami sangat yakin bahwa produk berkualitas akan selalu dicari, kami hanya akan <i>deliver</i> produk
                    berkualitas.</p>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="bx:bx-trending-up" data-inline="false"></span></div>
                <h2>Tumbuh Alami</h2>
                <p>Eksekusi dilakukan bukan berdasarkan oleh pertumbuhan yang prematur. Tumbuh alami bukan karbitan.
                    [<i>Don’t scale too fast</i>]</p>
            </div>
        </div>
    </div>
</div>