<div class="uk-child-width-expand@s awal" uk-grid>
    <div class="uk-grid-item-match">
        <!-- <div class="uk-card uk-card-default uk-card-body"> -->
        <h1 class="uk-padding">Focus On Your Business </h1>
        <p class="uk-padding">
            Lebih dari dua dekade kami melayani mulai dari bisnis retail sampai korporasi dengan banyak cabang.
            Mulai dari UMKM sampai perusahaan multinasional dengan puluhan ribu karyawan.
        </p>
        <!-- </div> -->
    </div>
    <div class="uk-grid-item-match">
        <img src="assets/undraw_business_deal_cpi9.svg" alt="">
    </div>
</div>
<div>
    <p class="uk-padding p">
        Software-software kami membantu perusahaan merancang, mengeksekusi dan melaporkan bisnis model mereka.
        Sehingga mereka dapat menjalankan perusahaannya dengan efektif, effisien dan susteinable
    </p>
</div>