mat-toolbar{
    background-color: white;
    padding:0 8%;
    img{
        max-width: 50%;
        height: 50%;
        flex: 0 0 auto;
    }
    .spacer{
        flex: 1 1 auto;
    }
    .nav{
        
        a{
            color:#778899;
        }
        a:hover{
            color:#4169E1;
            text-decoration: none;
        }
    }
    a span{
        color: black;
    }
    li a{
        color:#778899;
        padding: 0 40px;
    }
    li a:hover{
        color:#4169E1;
        text-decoration: none;
    }
    
}
footer{
    .footer{
        background-color: #292838;
        padding: 70px 9%;
        img{
            width: 110px; 
            height: auto;
        }
        .uk-list {
            margin-top: 20px;
            color: rgb(170, 169, 169);
            li{
                a:hover{
                    color: #f8f9fa;
                }
            }
        }
        span{
            a{
                padding-right: 10px;
            }
            a:hover{
                color: #f8f9fa;
                text-decoration: none;
            }
        }
        .iconify{
            font-size: 25px;
        }
        .iconify:hover{
            color: #f8f9fa;
        }
        h2 {
            color: #f8f9fa;
        }
    }
    .bawah{
        background-color: #23222f;
        width: auto;
        height: auto;
        p{
            text-align:center; 
            color: rgb(170, 169, 169);
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

@media (max-width:900px){
    mat-toolbar{
        .nav{
            a{
                display: none;
            }
        }
    }
}
