.awal{
    font-size: 16px;
    padding-left: 3%;
}
.iconify{
    font-size: 30px;
    color: #5a4fdc;
}
.icon{
    background: rgba(90,79,220,.12);
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
p{
    color:#778899;
    line-height: 1.8;
}
h2{
    font-size: 19px;
    margin-top: 10px;
}
.tengah{
    h3{
        font-size: 1.75rem;
        line-height: 1.2;
        margin-right: 50px;
        font-weight: 700;
        margin-bottom: 0;
    }
    p {
        font-size: 17px;
        margin-right: 70px;
        margin-top: -4rem
        
    }
}
.tengah1{
    padding-bottom: 50px;
    p{
        font-size: 16px;
        margin-bottom: -4rem;
        a {
            font-size: small;
            color: #16338b;
        }
    }
}

.konten{
    padding-top:150px ;
    text-align:center;
    .kepala {
        h1{
            font-size: 2.5rem;
            font-weight: 600;
            text-shadow: 1px 2px 3px rgb(59 57 80 / 20%);
        }
        p {
            font-size: 16px;
            margin-top: -2rem;
        }
    }
    .uk-card{
        border-radius:5px;
    &:hover{
        background-color:#5a4fdc;
    
        .icon{
            background: #7e77cca8;
        }
        .iconify{
            color: #f8f9fa; 
        }
        h2{
            color: #f8f9fa;
        }
        p{
            line-height: 1.8;
            color: #f8f9fa;
        }
    }
    }

}

@media (max-width:900px){
    .tengah{
        p{
            margin-top: 0;
        }
    }
    .tengah1{
        p{
            margin-bottom: 0;
        }
    }
}

