<div class="awal">
    <span class="iconify" data-icon="ic:baseline-bubble-chart" data-inline="false"></span>
    SOFI
</div>
<div class="uk-child-width-expand@s tengah" uk-grid>
    <div class="uk-grid-item-match">
        <h3 class="uk-padding">Accounting, Finance, Inventory, Distribution and Manufacture Software</h3>
        <p class="uk-padding">
            SOFI adalah sistem komputer akuntansi lengkap ter-integrasi.
            Di rancang untuk menangani tingginya volume transaksi dengan dukungan database handal Microsoft SQL Server.
        </p>
        <!-- </div> -->
    </div>
    <div class="uk-grid-item-match">
        <img src="assets/undraw_finance_0bdk.svg" alt="">
    </div>
</div>
<div class="tengah1">
    <p class="uk-padding">
        Program SOFI telah teruji dengan stabil pada lebih dari 250 pelanggan korporasi kami yang tersebar diseluruh
        Indonesia.
        SOFI telah digunakan oleh perusahaan dengan berbagai tipe bisnis seperti perkebunan, manufaktur, perkapalan,
        perdagangan, dan lainnya.
    </p>
    <p class="uk-padding">
        Anda dapat mendefinisikan kertas kerja di SOFI dengan memasukkan kontrol status transaksi. Fungsi ini akan
        menggantikan kertas kerja manual seperti persetujuan dokumen, revisi, ataupun tanda tangan. SOFI juga
        menyediakan fitur analisa biaya per Departemen, Divisi, ataupun per Project.
        Dengan demikian kontrol biaya akan dapat tersajikan secara lebih detil dan lebih terperinci.
    </p>
    <p class="uk-padding">
        Untuk lebih lanjut silahkan ke
        <a class="uk-link-heading" href="https://soficloud.com/">SOFICLOUD.COM</a>
    </p>
</div>

<div class="konten uk-padding">
    <div class="kepala">
        <h1>Awesome features</h1>
        <p class="uk-padding">
            Fitur-fitur kami dikembangkan dari kebutuhan customer kami </p>
    </div>

    <div class="uk-child-width-expand@s" uk-grid="parallax: 145">
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="ic:outline-security" data-inline="false"></span>
                </div>
                <h2>Security & Authorization</h2>
                <p>Manageable Security & Multi Level Authorization.
                    Access group definition, multi level authorization for each transaction, and audit trail facility.
                </p>
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"><span class="iconify" data-icon="mdi:currency-usd" data-inline="false"></span>
                </div>
                <h2>Currency & Forex</h2>
                <p>Multi Currency & Home Currency With Forex Calculation.
                    Hanya satu kali klik, menciptakan laporan keuangan Anda lebih dari satu mata uang dasar dengan
                    perhitungan forex calculation yang lengkap.</p>
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"><span class="iconify" data-icon="mdi:file-multiple" data-inline="false"></span>
                </div>
                <h2>AP & AR Analyst</h2>
                <p>Outstanding Report, Aging Analyst Report, Paid Invoice Report, Due/Overdue Report, &
                    Statement of Account Report.</p>
            </div>
        </div>

        <div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"><span class="iconify" data-icon="zmdi:wrench" data-inline="false"></span>
                </div>
                <h2>Customizable Financial Report</h2>
                <p>Monthly Comparation, Yearly Comparation, Budget Comparation, Ratio Analyst, Department and
                    Division Analyst, Project Analyst. Design your financial report with Report Setup Module.</p>
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="mdi:factory" data-inline="false"></span></div>
                <h2>Fixed Asset Managament</h2>
                <p>Many type of calculation method, auto depreciation journal, cost centre allocation
                    journal, fixed asset depreciation report.</p>
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"> <span class="iconify" data-icon="mdi:calendar-multiple" data-inline="false"></span>
                </div>
                <h2>Definable Fiscal Date</h2>
                <p>Create your own fiscal date period, inventory and GL Period. Create 13 Period for
                    adjustment period</p>
            </div>
        </div>
        <div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"><span class="iconify" data-icon="ic:round-autorenew" data-inline="false"></span>
                </div>
                <h2>Recurring Transaction</h2>
                <p>Auto journal recurring for recurring transaction. Define your period and transaction term.
                </p>
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"><span class="iconify" data-icon="mdi:cloud-check" data-inline="false"></span>
                </div>
                <h2>Cloud or On Premise</h2>
                <p>You can choose to put your database on cloud or on premise server</p>
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                <div class="icon"><span class="iconify" data-icon="mdi:web" data-inline="false"></span>
                </div>
                <h2>Web base</h2>
                <p>Aplikasi dapat diakses dari mana saja dengan device apa saja</p>
            </div>

        </div>
    </div>
</div>